@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v7/ijwTs5juQtsyLLR5jN4cxBEoTI7ax9k0.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0981-09FB, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v7/ijwTs5juQtsyLLR5jN4cxBEoTJLax9k0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v7/ijwTs5juQtsyLLR5jN4cxBEoTJzaxw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  --brand: #a40303;
  --brand2: #860101;
  --off_white: rgba(255, 255, 255, 0.8);
  --white: white;
  --white2: #f1f1f1;
  --tr: all linear 0.3s;
  --black: #433f40;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
body,
a,
p,
h1,
h2,
h3,
h4,
h5,
div,
h6 {
  font-family: 'Hind Siliguri', sans-serif;
  transition: var(--tr);
  margin: 0;
  padding: 0;
}
input:focus {
  outline: 0;
}
header {
  background: var(--brand);
}
.header_menu_list {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.header_menu_list li a {
  color: var(--off_white);
  padding: 5px 10px;
}
.header_menu_list li a:hover {
  color: var(--white);
}
nav {
  background: #f0f0f0;
}
nav .left {
  display: inline-flex;
  height: 100%;
  align-content: center;
  align-items: center;
}
nav .left .triger_btn {
  cursor: pointer;
}
nav .left ul {
  margin-left: 10px;
}
nav .left ul li a {
  color: var(--brand);
  font-weight: 600;
  padding: 10px 15px;
  position: relative;
}
nav .left ul li a::after {
  position: absolute;
  content: '';
  width: 30%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background: var(--brand);
  height: 2px;
  transition: var(--tr);
}
nav .left ul li a:hover {
  color: #161616;
}
nav .left ul li a:hover::after {
  width: 60%;
  background: #161616;
}
nav .mid {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}
nav .mid img {
  height: 60px;
}
nav .right {
  text-align: right;
  height: 100%;
}
nav .right ul {
  display: inline-flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
nav .right ul li {
  height: fit-content;
  position: relative;
}
nav .right ul li::after {
  content: '';
  height: 100%;
  width: 1px;
  background: var(--black);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
nav .right ul li:first-child::after {
  display: none;
}
nav .right ul li:first-child span {
  font-weight: 600;
  color: #6d6d6d;
  margin-right: 10px;
}
nav .right ul li a {
  color: var(--black);
  padding: 5px 20px;
}
.side_nav {
  position: fixed;
  left: -300px;
  height: 100vh;
  top: 0;
  width: 150%;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.side_nav .overlay {
  width: 100%;
  position: absolute;
  left: 300px;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
}
.side_nav.active {
  left: 0px;
  opacity: 1;
  visibility: visible;
}
.side_nav .side_nav_body {
  width: 300px;
  background: white;
  height: 100vh;
  padding: 20px;
}
.side_nav .side_nav_body form {
  margin-bottom: 30px;
  position: relative;
}
.side_nav .side_nav_body form input {
  width: 100%;
  border-radius: 25px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  border-color: rgba(0, 0, 0, 0.09);
}
.side_nav .side_nav_body form input:focus {
  outline: 0;
}
.side_nav .side_nav_body form button {
  border: 0;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.side_nav .side_nav_body ul {
  display: flex;
  flex-direction: column;
}
.side_nav .side_nav_body ul li a {
  color: rgba(102, 102, 102, 0.85);
  font-weight: 600;
  font-size: 16px;
  display: block;
  padding: 10px 5px;
  border-top: 1px solid rgba(102, 102, 102, 0.198);
}
.side_nav .side_nav_body ul li a:hover {
  background: rgba(102, 102, 102, 0.198);
  color: #3b3b3b;
}
.side_nav .side_nav_body ul li ul {
  padding-left: 30px;
  border-left: 1px solid rgba(102, 102, 102, 0.198);
  margin-bottom: 20px;
}
.side_nav .side_nav_body ul li ul li a {
  border: 0;
  padding: 4px 5px;
}
.side_nav h2 {
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}
.side_nav h2::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 50%;
  height: 2px;
  background: rgba(102, 102, 102, 0.198);
}
.side_nav .heading_two {
  margin-bottom: 60px;
  margin-top: 30px;
}
.side_nav .slider_output {
  display: flex;
  justify-content: space-between;
}
.side_nav .slider_output input {
  width: 40%;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
  border: 1px solid #acacac;
}
.side_nav .recent_view li {
  display: flex;
  margin-bottom: 20px;
}
.side_nav .recent_view li .left {
  width: 70px;
}
.side_nav .recent_view li .left img {
  width: 100%;
}
.side_nav .recent_view li .right {
  padding-left: 10px;
}
.side_nav .recent_view li .right a {
  padding: 0;
}
.side_nav .recent_view li .right a h3 {
  font-size: 18px;
}
.side_nav .recent_view li .right a:hover {
  background: unset;
  color: var(--black);
}
.side_nav .recent_view li .right .price {
  padding-left: 10px;
  font-size: 18px;
}
.side_nav .recent_view li .right .price span {
  margin-left: 10px;
}
.filter_trigger {
  color: var(--black);
  padding: 10px 0px;
  font-size: 22px;
}
.side_nav2 .side_nav_body ul li:first-child a {
  border-top: 0;
}
.common-heading {
  padding: 80px 0px;
}
.common-heading h2 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: var(--brand);
  position: relative;
}
.common-heading h2 span {
  border: 1px solid rgba(129, 129, 129, 0.322);
  padding: 10px 28px;
  width: 18%;
  display: inline-block;
  box-sizing: border-box;
}
.common-heading h2::after {
  content: '';
  width: 41%;
  left: 0;
  height: 1px;
  background: rgba(129, 129, 129, 0.322);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.common-heading h2::before {
  content: '';
  width: 41%;
  right: 0;
  height: 1px;
  background: rgba(129, 129, 129, 0.322);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.product_body .top {
  position: relative;
}
.product_body .top span {
  position: absolute;
  top: -5px;
  left: -5px;
  background: var(--brand);
  color: white;
  font-size: 14px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
.product_body .top img {
  width: 100%;
}
.product_body .bottom {
  text-align: center;
}
.product_body .bottom a h4 {
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}
.product_body .bottom ul {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}
.product_body .bottom ul li {
  padding: 0px 5px;
}
.custom_btn1 {
  background-color: var(--brand);
  color: white;
  padding: 5px 20px;
}
.custom_btn1:hover {
  background: var(--brand2);
  color: white;
}
.custom_btn2 {
  background-color: var(--brand);
  color: white;
  padding: 10px 40px;
  border: 0;
  border-radius: 25px;
  margin-top: 20px;
}
.custom_btn2:hover {
  background: var(--brand2);
  color: white;
}
#blog {
  padding-bottom: 50px;
}
.blog_body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog_body .top {
  position: relative;
}
.blog_body .top span {
  position: absolute;
  top: 20px;
  left: 0;
  background: var(--brand);
  text-align: center;
  width: 70px;
  color: white;
  padding: 5px 0px;
  font-weight: 600;
}
.blog_body .top img {
  width: 100%;
}
.blog_body .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.blog_body .bottom h4 {
  line-height: 1.3;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  color: #555;
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
}
.blog_body .bottom p {
  text-align: center;
  color: #777777;
}
.product_info h3 {
  color: #555;
  font-size: 28px;
  font-weight: 600;
}
.product_info .price {
  font-size: 22px;
  margin: 10px 0px;
  display: inline-block;
}
.product_info .price span {
  margin-left: 20px;
}
.product_info .cart_form .cart_amount {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 150px;
}
.product_info .cart_form .cart_amount label {
  border: 1px solid #ddd;
  padding: 5px 8px;
  height: 40px;
  margin: 0;
  position: absolute;
  background-color: #f9f9f9;
  cursor: pointer;
}
.product_info .cart_form .cart_amount label:first-child {
  left: 0;
}
.product_info .cart_form .cart_amount label:last-child {
  right: 0;
}
.product_info .cart_form .cart_amount input {
  width: 150px;
  height: 40px;
  margin: 0;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 0px 28px;
}
.product_info .bottom_info {
  margin-top: 30px;
}
.product_info .bottom_info li {
  padding: 5px 0px;
}
.product_info .bottom_info li span {
  font-weight: 600;
}
.product_info .social_links {
  display: inline-flex;
  margin-top: 20px;
}
.product_info .social_links li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid silver;
  color: silver;
  border-radius: 50%;
  margin-right: 5px;
}
.product_info .social_links li a:hover {
  background: silver;
  color: var(--black);
}
.product_review {
  padding-top: 50px;
}
.product_review .nav_btns li .custom_btn2 {
  border: 1px solid var(--brand);
  color: var(--black);
  background: transparent;
  margin: 0px 5px;
}
.product_review .nav_btns li .custom_btn2.active {
  background: var(--brand);
  color: white;
}
.product_review .nav_btns li .custom_btn2:hover {
  background: var(--brand);
  color: white;
}
.product_review p {
  color: var(--black);
  margin: 30px 0px;
}
footer {
  background: #777;
  padding: 50px 0px;
}
footer h3 {
  color: var(--white2);
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
}
footer h3::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 60%;
  background-color: var(--off_white);
  bottom: 0;
  left: 0;
}
footer .footer_logo img {
  height: 42px;
}
footer ul {
  margin-top: 20px;
}
footer ul li {
  color: var(--white2);
  font-size: 18px;
  padding: 8px 0px;
}
footer ul li span {
  font-weight: 600;
  margin-right: 5px;
}
footer .mid_part li {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9c9c9c;
  padding: 20px 0px;
}
footer .mid_part li:first-child {
  padding-top: 0;
}
footer .mid_part li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
footer .mid_part li .left {
  width: 72px;
  height: 57px;
  margin-right: 20px;
  position: relative;
}
footer .mid_part li .left img {
  width: 100%;
}
footer .mid_part li .left .date {
  position: absolute;
  left: 0;
  top: 0;
  height: 59px;
  width: 59px;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .mid_part li .left .date span {
  display: block;
  font-size: 14px;
}
footer .mid_part li a {
  color: var(--white2);
}
footer .right form input {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.09);
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  color: var(--white2);
}
footer .right form input::placeholder {
  color: var(--white);
}
.lower_footer {
  background: #5b5b5b;
  padding-top: 10px;
  padding-bottom: 20px;
}
.lower_footer .top_ul {
  display: inline-flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.lower_footer .top_ul li a {
  color: #FFFFFF80;
  padding: 5px;
}
.lower_footer .top_ul li a:hover {
  color: var(--white2);
}
.lower_footer p {
  color: #FFFFFF80;
  padding-top: 5px;
}
.lower_footer p span {
  font-weight: 600;
}
